.height-100 {
  height:100%;
}

.main_gradient {
  height:100%;
  //background: #776261;
  background: $logo-red;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMTYlIiBzdG9wLWNvbG9yPSIjNzc2MjYxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjMzQwNTA1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover, $link-hover 16%, $logo-red 75%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(16%,$link-hover), color-stop(75%,$logo-red));
  background: -webkit-radial-gradient(center, ellipse cover, $link-hover 16%,$logo-red 75%);
  background: -o-radial-gradient(center, ellipse cover, $link-hover 16%,$logo-red 75%);
  background: -ms-radial-gradient(center, ellipse cover, $link-hover 16%,$logo-red 75%);
  background: radial-gradient(ellipse at center, $link-hover 16%,$logo-red 75%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$link-hover', endColorstr='$logo-red',GradientType=1 );
}

.landing-logo {
  @include verticalAlign;
  background: url('../img/Logo195.png');
  width: 195px;
  height: 195px;
  text-indent: -9999px;
  background-color: $logo-red;
  margin: 0 auto;
  border-radius: 10px;
  &:hover {
    @include boxShadow(0px, 0px, 20px, 0px, $main-shadow);
  }
  > a {
    height: 100%;
    display: block;
  }
}

.no-padding {
  padding: 0;
}

.landing-nav {
  > ul {
    list-style: none;
    li {
      position: absolute;
      left:50%;
      text-align: center;
    }
  }

  li:nth-child(1) {
    top: 3em;
    width: 106px;
    margin-left: -53px;
  }
  li:nth-child(2) {
    top: 8em;
    width: 230px;
    margin-left: -115px;
  }
  li:nth-child(3) {
    bottom: 8em;
    width: 216px;
    margin-left: -108px;
  }
  li:nth-child(4) {
    bottom: 3em;
    width: 130px;
    margin-left: -65px;
  }

  a {
    font-family: 'Lucida Grande', Helvetica, sans-serif;
    font-size: $font-landingnav-large;
    color: $lander-link;
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
    &:hover {
      // color: $white-glow;
      // @include textShadow(0px, 0px, 20px, $main-shadow);
      @extend %menuGlow;
    }
    &.menu_glow {
      @extend %menuGlow;
    }
  }

  @include iphone4 {
    li:nth-child(1) {
      top: 1em;
    }
    li:nth-child(2) {
      top: 4em;
    }
    li:nth-child(3) {
      bottom: 4em;
    }
    li:nth-child(4) {
      bottom: 1em;
    }
  }

  @include tablet {
    li:nth-child(1) {
      top: 16%;
    }
    li:nth-child(2) {
      left: 16%;
      top: 47%
    }
    li:nth-child(3) {
      left: 82%;
      top: 47%;
    }
    li:nth-child(4) {
      bottom: 16%
    }
  }

  @include tabletPortrait {
    li:nth-child(1) {
      top: 9em;
    }
    li:nth-child(2) {
      top: 15em;
    }
    li:nth-child(3) {
      bottom: 15em;
    }
    li:nth-child(4) {
      bottom: 9em;
    }
  }
}