.content {
  background-color: $black-alpha;
  margin: 2em 1em 1em;
  text-align: center;
  border-radius: 10px;
  overflow-y: auto;
  h2, h3 {
    color: $lander-link;
  }

  ul {
    list-style: none;
    color: $main-gray;
    padding: 0;
    li {
      margin-bottom: .5em;
    }
  }

  p {
    color: $main-gray;
    -webkit-margin-after: 0;
  }

  a {
    color: $link-color;
    &:visited, &:focus {
      color: $link-color;
    }
    &:hover {
      @extend %linkHover;
    }
  }

  &:hover {
    @include boxShadow(0px, 0px, 20px, 0px, $black);
    @include ease;
  }
}