.logo {
  text-indent: -9999px;
  background: url('../img/Logo-96.png');
  height: 100px;
  width: 100px;
  background-color: $logo-red;
  border-radius: 5px;
  float:left;
  margin-top: .3em;
  > a {
    height: 100%;
    display: block;
  }
  @include tablet {
    margin-top: 0;
  }
}