// text shadow
@mixin textShadow($right, $down, $blur, $color) {
  -moz-text-shadow: $right $down $blur $color;
  -webkit-text-shadow: $right $down $blur $color;
  text-shadow: $right $down $blur $color;
}
// box shadow
@mixin boxShadow($right, $down, $blur, $spread, $color) {
  -moz-box-shadow: $right $down $blur $spread $color;
  -webkit-box-shadow: $right $down $blur $spread $color;
  box-shadow: $right $down $blur $spread $color;
}

@mixin ease {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
}

@mixin verticalAlign {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin preserve3d {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  *zoom: 1;
}

// media queries
@mixin iphone4 {
  @media #{$iphone4} {
    @content;
  }
}

@mixin tablet {
  @media #{$tablet} {
    @content;
  }
}

@mixin tabletPortrait {
  @media #{$tabletPortrait} {
    @content;
  }
}

@mixin web-laptop {
  @media #{$web-laptop} {
    @content;
  }
}