// Colors
$logo-red: #340505;
$header-color: #121212;
$white-glow: #AAA;
$main-gray: #555;
$main-shadow: #999;
$link-color: #444;
$link-hover: #333;
$black: #000;
$lander-link: #777;
$black-alpha: rgba(0,0,0,.4);

// Font sizes
$font-normal: 16px;
$font-small: 12px;
$font-large: 20px;
$font-landingnav-large: 35px;

// Media queries
$iphone4: "(max-height: 590px) and (min-width: 320px)";
$tablet: "screen and (min-width : 768px)";
$tabletPortrait: "screen and (max-height: 970px) and (min-height: 650px) and (max-width: 610px)"